
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main">
	<div class="wrap">
		<div class="content_top">
		<div class="heading">
			<h3>{{epis_detail.season.season_name}}{{ epis_detail.episode_name }}</h3>
		</div>  
		<div class="clear"></div>
			
	</div>
		<div class="section group">     
			<div class="cont-desc span_1_of_2">
			  <div class="product-details">				
				
			<div class="desc span_3_of_2">
				<div class="embed-responsive embed-responsive-16by9"> 
					<p> <video
					id="my-video"
					class="video-js"
					controls
					preload="auto"
					width="320"
					height="240"
					poster="{{ epis_detail.season.serie.serie_image.url }}"
					data-setup="{}"
				  >
					<source src="{{ epis_detail.episode_video.url }}" type="video/mp4" />
					</video></p>
				</div>		
			 
		</div>
		<div class="clear"></div>
	  </div>
	
</div>
</div>
	</div>
 {% endblock content %}