
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

    	<div class="wrap">
				
		  {%if get_categorys %} 
                <div class="header_bottom">
					<div class="header_bottom_left">				
						<div class="categories">
						   <ul>
						  	   <h3>Categories</h3>
								 {% for get_categorys in get_categorys %}
								  <li><a href="{% url 'search_items' %}">{{get_categorys.category_name}}</a></li>
							     
								  {% endfor %} 
						  	 </ul>
						</div>					
		  	        </div>
					   {%else%}
                    <div class="card-body">
                    <h4>No Data available</h4>
                    </div>
                {%endif%}
						   
				{%if get_carousels %} 
				        <div class="header_bottom_right">					 
						 	    <!------ Slider ------------>
								<div class="slider">
							      	<div class="slider-wrapper theme-default">
							            <div id="slider" class="nivoSlider">
											{% for get_carousels in get_carousels %}
										    <img src="{{get_carousels.carousel_image.url}}" data-thumb="{{get_carousels.carousel_image.url}}" alt="" />
											<!-- <h2>{{get_carousels.image_name}}</h2> -->
											{% endfor %}
											<!-- <img src="{% static 'images/2.jpg' %}" data-thumb="images/2.jpg" alt="" />
							                <img src="{% static 'images/3.jpg' %}" data-thumb="images/3.jpg" alt="" />
							                <img src="{% static 'images/4.jpg' %}" data-thumb="images/4.jpg" alt="" />
							                 <img src="{% static 'images/5.jpg' %}" data-thumb="images/5.jpg" alt="" /> -->
							            </div>
							        </div>
						   		</div>
							    <!------End Slider ------------>
			            </div>
					 {%else%}
					 <div class="card-body">
						 <h4>No Data available</h4>
					 </div>
					 {%endif%}
			    <div class="clear"></div>
			</div>
		</div>
   </div>
   <!------------End Header ------------>
   <!-- <h3 align="center" style=color:brown>Watch all Movies <span>FREE</span> of charge, <span>SUBSCRIBE</span> to Watch Series at shs.4500/= per Month,shs.1500/= Weekly,<br>
     shs.800 Daily and shs.300 a single episode.</h3> -->
	 <h3 align="center" style=color:brown>Watch all Movies and Series <span>FREE</span> of charge</h3>

  <div class="main">
  	<div class="wrap">
      <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>MOVIES</h3>
    		</div>   
    	</div>
		<br>
		{%if  get_moviy_title_filter %}
		<form method="get">
			<!-- {{ user_filter.form|crispy }} -->
			<!-- {% render_field user_filter.form.movie_title class="form-control" placeholder="Movie Title" %}
			{% render_field user_filter.form.movie_general class="form-control" placeholder="Movie General" %}
			{% render_field user_filter.form.movie_VJ class="form-control" placeholder="Movie VJ" %}
			{% render_field user_filter.form.movie_cost class="form-control" placeholder="movie cost" %}
			{% render_field user_filter.form.movie_status1 class="form-control" placeholder="movie status1" %} -->
			{% for field in  get_moviy_title_filter.form.visible_fields %}
      <div class="form-group">
     
		{% render_field get_moviy_title_filter.form.movie_title class="form-control" placeholder="Enter Movie Title" %}
      
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
	<div class="form-group">
		<button type="submit" class="btn btn-success">
		  <span class="glyphicon glyphicon-ok"></span> Search
		</button>
		
	  </div>
			<!-- <button type="submit">Search</button> -->
		  </form>
	        <div class="section group">
				
				{% for user_filter in user_filter.qs %}
				<div class="grid_1_of_5 images_1_of_5">
					<a href="{% url 'mov_detail' user_filter.id %}"><img src="{{ user_filter.movie_image.url }}" alt=""  width="100px" height="100px"/></a>
					 <h2><a href="{% url 'mov_detail' user_filter.id %}">{{user_filter.movie_title}}</a></h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">COST : FREE</span></p>
					    </div>
						<br>
						<div class="price-number">
							<p><span class="rupees">{{user_filter.movie_release_date}}</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="{% url 'mov_detail' user_filter.id %}">{{user_filter.movie_VJ}}</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>
										 
				</div>
				{% endfor %}
			</div>
			
				{%else%}
                <div class="card-body">
                    <h4>No Data available</h4>
                </div>
                {%endif%}
				
				
			{%if get_seriys %}
			<div class="content_bottom">
    		<div class="heading">
    		<h3>SERIES</h3>
    		</div>
    	  </div>
		  <br>
		  <a class="btn btn-success" href="{% url 'search_serie_items' %}" role="button">
			<span class="glyphicon glyphicon-ok"></span> Search</a>
		  </button>
			<div class="section group">
				{% for get_seriys in get_seriys %}
				<div class="grid_1_of_5 images_1_of_5">
					 <a href="{% url 'seri_detail' get_seriys.id %}"><img src="{{ get_seriys.serie_image.url }}" alt="" /></a>
					 <h2><a href="{% url 'seri_detail' get_seriys.id %}">{{get_seriys.serie_title}}</a></h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">{{get_seriys.serie_cost}}</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="{% url 'seri_detail' get_seriys.id %}">{{get_seriys.serie_VJ}}</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>
					 
				</div>
				{% endfor %}
			</div>
			{%else%}
                <div class="card-body">
                    <h4>No Data available</h4>
                </div>
                {%endif%}
       </div>
  </div>
</div>
   

{% endblock content %}

