<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 align="center">SUBSCRIPTION</h2>                                                                                              
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>NO.</th>
        <th>NAME</th>
        <th>PHONE NUMBER</th>
        <th>PAYMENT STATUS</th>
        <th>PAYMENT VALIDITY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01</td>
        <td>Shafik</td>
        <td>0701434706</td>
        <td>Paid</td>
        <td>1 Month</td>
      </tr>
      <tr>
        <td>02</td>
        <td>Usama</td>
        <td>0704544125</td>
        <td>Paid</td>
        <td>1 Week</td>
       </tr>
       <tr>
        <td>03</td>
        <td>Mariam</td>
        <td>0758672021</td>
        <td>Paid</td>
        <td>1 Week</td>
       </tr>
       <tr>
        <td>04</td>
        <td>Nagadya</td>
        <td>0782411217</td>
        <td>Paid</td>
        <td>1 Week</td>
       </tr>
       <tr>
        <td>05</td>
        <td>Acram</td>
        <td>0702611926</td>
        <td>Paid</td>
        <td>1 Week</td>
       </tr>
    </tbody>
  </table>
</div>

</body>
</html>
